<div class="container" infiniteScroll (scrolled)="onScroll()">

  <!-- botón para ir al inicio de la página -->
  <button *ngIf="showGoUpButton" (click)="scrollTop()">
    <img src="../../../assets/images/arrow.svg" alt="arrow up">
  </button>

  <!-- cabecera -->
  <header>
    <figure>
      <img src="../../../assets/images/logo.png" alt="logo">
    </figure>
    <div class="search">
      <input type="text" class="forms-control" placeholder="Search.." [(ngModel)]="filterpost" name="filterpost"/>
      <label>
        Order by
        <select (change)="onChange()" [(ngModel)]="selectedOption">
          <option selected value="title">Title</option>
          <option value="year">Year</option>
        </select>
      </label>
    </div>
  </header>

  <!-- listado de peliculas -->
  <ul>
    <li *ngFor="let movie of arrMovies | filter: filterpost">
      <div class="canvas">
        <h1>{{ movie.title }}</h1>
        <div>
          <span>{{ movie.year }}. </span>
          <span>{{ movie.director }}</span>
        </div>
        <span>{{ movie.genre }}</span>
        <div class="more-info">
          <span>{{ movie.cast }}</span>
          <span>{{ movie.notes }}</span>
        </div>
      </div>
    </li>
  </ul>
</div>